* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, lightgreen, lightseagreen);
}
h1 {
    margin: 1em;
    text-transform: capitalize;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 75vw;
    height: 50vh;
    border: solid 2.5px blue;
    border-radius: 15px;
    background-color: lightblue;
    padding: 2.5%;
}
input {
    display: block;
    margin: 1rem;
}
.field {
    border: 2px solid black;
    width: 90%; 
    padding: 2.5%;
}
#error {
    border: 2px solid red;
    border-radius: 15px;
    color: white; 
    background: linear-gradient(to bottom, red, orange);
    text-align: center;
    text-transform: capitalize;
    width: 35%;
    /* height: 10%; */
    visibility: hidden;
}
#submit {
    border: solid 2px green;
    background: linear-gradient(to bottom, green, lightgreen);
    border-radius: 15px;
}
#submit:hover {
    background: none;
    background-color: darkgreen;
}
#directory {
    table-layout: fixed;
    text-transform: capitalize;
    margin: 1em;
    width: 95vw;
    border: solid 2px black;
    border-collapse: collapse;
    background-color: white;
}
th {
    border: solid 2px black;
}
td {
    text-align: center;
    border: solid 2px black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}