* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 50vh;
    border: solid 2px lightblue;
    border-radius: 15px;
    background-color: lightblue;
}
input {
    display: block;
    margin: 1rem;
}