* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to top, lightgreen, lightseagreen); */
    background-color: skyblue;
}
h1 {
    margin: 1em;
    text-transform: capitalize;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 75vw;
    height: 50vh;
    border: solid 3.5px blue;
    border-radius: 15px;
    background-color: lightyellow;
    padding: 2.5%;
}
input {
    display: block;
    margin: 1rem;
}
.field {
    border: 2px solid black;
    width: 90%; 
    padding: 2.5%;
}
#error {
    border: 2px solid red;
    border-radius: 15px;
    color: white; 
    background: linear-gradient(to bottom, red, orange);
    text-align: center;
    text-transform: capitalize;
    width: 75%;
    height: 17.5%;
    visibility: hidden;
    padding: 1.5%;
}
#submit {
    border: solid 2px green;
    background: linear-gradient(to bottom, green, lightgreen);
    border-radius: 15px;
}
#submit:hover {
    background: none;
    background-color: darkgreen;
}
#directory {
    table-layout: fixed;
    text-transform: capitalize;
    margin: 1em;
    width: 95vw;
    border: solid 2px black;
    border-collapse: collapse;
    background-color: white;
}
th {
    border: solid 2px black;
}
td {
    text-align: center;
    border: solid 2px black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#note {
    margin: 5% 1% 1%;
}
@media (min-width: 667px) {
    #main {
        height: 70vh;
        justify-content: center;
    }
    #error {
        height: auto;
    }
}
@media (min-width: 810px) {

    #main {
        height: 35vh;
    }
    
}
@media (min-width: 1080px){

    #main {
        width: 60vw;
        height: 50vh;
    }

    #note {
        margin: 2% 1% 1%;
    }

}